<div align="center">

# {{ .Profile.Name }}

{{ if .Profile.Bio }}**{{ .Profile.Bio }}**{{ end }}

{{- if .Profile.Location }}

📍 {{ .Profile.Location }}

{{- end }}

{{- if or .Profile.Blog .Profile.Twitter }}

{{ if .Profile.Blog }}[![Blog](https://img.shields.io/badge/Blog-{{ urlPathEscape .Profile.Blog }}-blue?style=for-the-badge&logo=google-chrome&logoColor=white)]({{ .Profile.Blog }}){{ end }} {{ if .Profile.Twitter }}[![Twitter](https://img.shields.io/badge/@{{ .Profile.Twitter }}-1DA1F2?style=for-the-badge&logo=twitter&logoColor=white)](https://twitter.com/{{ .Profile.Twitter }}){{ end }}

{{- end }}

---

![Repos](https://img.shields.io/badge/Repos-{{ .Stats.TotalRepos }}-blue?style=flat-square) ![Stars](https://img.shields.io/badge/Stars-{{ .Stats.TotalStars }}-yellow?style=flat-square) ![Forks](https://img.shields.io/badge/Forks-{{ .Stats.TotalForks }}-green?style=flat-square) ![Followers](https://img.shields.io/badge/Followers-{{ .Profile.Followers }}-red?style=flat-square)

</div>

{{- if .TopRepos }}

## 🏆 Top Projects

| | Project | Description | ⭐ | 🍴 |
|---|---------|-------------|----|----|
{{- range $i, $r := .TopRepos }}
| {{ inc $i }} | **[{{ $r.Name }}]({{ $r.URL }})** | {{ truncate $r.Description 60 }} | {{ $r.Stars }} | {{ $r.Forks }} |
{{- end }}

{{- end }}

{{- if .RecentRepos }}

## 🕐 Recent Activity

| Project | Description | Last Push |
|---------|-------------|-----------|
{{- range .RecentRepos }}
| **[{{ .Name }}]({{ .URL }})** | {{ truncate .Description 60 }} | `{{ formatDate .PushedAt }}` |
{{- end }}

{{- end }}

{{- if .Languages }}

## 🛠️ Languages

<p align="center">
{{- range .Languages }}
  <img src="{{ .BadgeURL }}" alt="{{ .Name }}" />
{{- end }}
</p>

{{- end }}

---

<p align="center">
  <sub>Auto-generated by <a href="https://github.com/yoanbernabeu/GitHubAutoProfil">GitHubAutoProfil</a> · Last updated: {{ now }}</sub>
</p>
